@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "sass:map";

header {
	margin-bottom: 40px;
	background-color: #FFF;
	box-shadow: 0 0 8px #333;

	nav {
		ul {
			display: flex;
			justify-content: center;
			padding: 16px;

			li {
				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}
	}
}

h1 {
	margin-bottom: 16px;
	font-size: 35px;
	font-weight: bold;
}

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

.post-list {
	margin-bottom: 32px;
	padding: 32px;
	border: 1px solid #AAA;

	> li {
		padding-bottom: 16px;
		list-style: none;
		border-bottom: 1px solid #CCC;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		a {
			.txt-area {
				width: 600px;
			}
		}
	}
}

.catlist {
	display: flex;
	margin-top: 8px;

	li {
		margin-right: 8px;
		padding: 6px 8px;
		color: #FFF;
		font-size: 14px;
		line-height: .8;
		background: #000;
	}
}

.pager {
	display: flex;
	margin-top: 8px;
	@include mq(max, tb) {
		display: block;
	}

	li {
		margin-right: 16px;
		padding: 4px 8px;
		line-height: 1;
		border: 1px solid #CCC;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			background-color: #CCC;
		}
	}
}

footer {
	margin-top: 40px;
	padding: 12px;
	text-align: center;
}